<br>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="input-group">
      <input ng-change="codeAddress()" ng-model="location.search" placeholder="Enter town or city" id="address" type="text" class="input-lg form-control" />
      <span class="input-group-btn">
        <button ng-click="codeAddress()" class="btn btn-lg btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>

  <br>

  <div ng-show="hasError" class="col-lg-12 alert alert-danger" role="alert">
    <span class="alert-link">Sorry, there were no recorded segments matching your search.</span><br>
    <strong><em>Try broadening your search to a town, city, or region</em></strong>
  </div>

</div>
<br>
